@model IEnumerable<RunningSite.Models.Order>

@{
    ViewBag.Title = "ShowAllOrders";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section logged{

    @if (Session["name"] == null || Session["name"].ToString() != "Admin" || Session["email"].ToString() != "webdev@outlook.com")
    {
        Response.Redirect(Url.Action("Login", "Account"));
    }
}


<div class=" container">

    <h2>Show All Orders</h2>
    <table class="table">
        <tr>
            <th>Order No</th>
            <th>Order Date</th>
            <th>Runners Email</th>
            <th>Total Amount</th>
            <th>Race Name</th>
        </tr>

        @foreach (var order in Model)
        {
            <tr>
                <td>@order.OrderNo</td>
                <td>@order.OrderDate</td>
                <td>@order.Email</td>
                <td>€@order.TotalAmount</td>

                @{
                    string raceName = "";
                    switch (order.RaceId)
                    {
                        case RunningSite.Models.RacesCurrentYearEnum.R2019_05:
                            raceName = "2019 Family 5K";
                            break;
                        case RunningSite.Models.RacesCurrentYearEnum.R2019_10:
                            raceName = "2019 10K";
                            break;
                        case RunningSite.Models.RacesCurrentYearEnum.R2019_21:
                            raceName = "2019 Half Marathon";
                            break;
                        case RunningSite.Models.RacesCurrentYearEnum.R2019_42:
                            raceName = "2019 Full Marathon";
                            break;
                        default:
                            raceName = "Unknown";
                            break;
                    }

                }

                <td>@raceName</td>
            </tr>
        }
    </table>
    <br />
    <p>@Html.ActionLink("Go Back", "Index", "Admin")</p>
</div>

