@model RunningSite.Models.Account

@{
    ViewBag.Title = "Manage";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section logged{

    @if (Session["name"] == null)
    {
        Response.Redirect(Url.Action("Login", "Account"));
    }
}

<div class="container">
    <h2>Manage Account</h2>
    <p>Here you can update your password and change your subscription to our Newsletter.</p>

    <p>
        @ViewBag.Status
    </p>

    @using (Html.BeginForm("Manage", "Account", FormMethod.Post))
    {
        <p>
            @Html.LabelFor(a => a.Password, "Change Password (min 6 characters):", new { @class = "label" })
            <br />@Html.PasswordFor(a => a.Password)
            @Html.ValidationMessageFor(a => a.Password, "", new { @class = "error" })
        </p>
        <p>
            @Html.LabelFor(a => a.ConfirmPassword, "Confirm New Password:", new { @class = "label" })
            <br />@Html.PasswordFor(a => a.ConfirmPassword)
            @Html.ValidationMessageFor(a => a.ConfirmPassword, "", new { @class = "error" })
        </p>
        <p>
            @Html.CheckBoxFor(a => a.NewsletterSub)Keep up to date: subscribe to the Dingle Running Festival Newsletter
        </p>
        <p>
            <input type="submit" value="Update" />
        </p>
    }
    <p>
        @Html.ActionLink("Go Back", "Index", "Account")
    </p>
</div>
