@model RunningSite.Models.Order

@{
    ViewBag.Title = "AlterOrder";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">

    <h2>Alter Order</h2>

    <p>Here you can alter the details for your latest order (Order No.: @ViewBag.orderNo)</p>

    @using (Html.BeginForm("AlterOrder", "Order", FormMethod.Post))
    {
        <p>
            <span class="newline">
                @Html.LabelFor(o => o.AddressLine1, "Address Line 1:", new { @class = "label" })
            </span>
            @Html.TextBoxFor(o => o.AddressLine1)
            @Html.ValidationMessageFor(o => o.AddressLine1, "", new { @class = "error" })
        </p>
        <p>
            <span class="newline">
                @Html.LabelFor(o => o.AddressLine2, "Address Line 2:", new { @class = "label" })
            </span>
            @Html.TextBoxFor(o => o.AddressLine2)
            @Html.ValidationMessageFor(o => o.AddressLine2, "", new { @class = "error" })
        </p>
        <p>
            <span class="newline">
                @Html.LabelFor(o => o.City, "City:", new { @class = "label" })
            </span>
            @Html.TextBoxFor(o => o.City)
            @Html.ValidationMessageFor(o => o.City, "", new { @class = "error" })
        </p>
        <p>
            <span class="newline">
                @Html.LabelFor(o => o.PostCode, "Post Code:", new { @class = "label" })
            </span>
            @Html.TextBoxFor(o => o.PostCode)
            @Html.ValidationMessageFor(o => o.PostCode, "", new { @class = "error" })
        </p>
        <p>
            <span class="newline">
                @Html.LabelFor(o => o.Country, "Country:", new { @class = "label" })
            </span>
            @Html.TextBoxFor(o => o.Country)
            @Html.ValidationMessageFor(o => o.Country, "", new { @class = "error" })
        </p>
        <p>
            <span class="newline">
                @Html.LabelFor(o => o.Mobile, "Mobile No.:", new { @class = "label" })
            </span>
            @Html.TextBoxFor(o => o.Mobile)
            @Html.ValidationMessageFor(o => o.Mobile, "", new { @class = "error" })
        </p>
        <p>
            <span class="newline">
                @Html.LabelFor(o => o.EmergencyContactName, "Emergency Contact Name:", new { @class = "label" })
            </span>
            @Html.TextBoxFor(o => o.EmergencyContactName)
            @Html.ValidationMessageFor(o => o.EmergencyContactName, "", new { @class = "error" })
        </p>
        <p>
            <span class="newline">
                @Html.LabelFor(o => o.EmergencyContactNumber, "Emergency Contact No.:", new { @class = "label" })
            </span>
            @Html.TextBoxFor(o => o.EmergencyContactNumber)
            @Html.ValidationMessageFor(o => o.EmergencyContactNumber, "", new { @class = "error" })
        </p>
        <p>
            <span class="newline">
                @Html.LabelFor(o => o.MedicalDetails, "Medical Details:", new { @class = "label" })
            </span>
            @Html.TextAreaFor(o => o.MedicalDetails)
            @Html.ValidationMessageFor(o => o.MedicalDetails, "", new { @class = "error" })
        </p>
        <p>
            @Html.LabelFor(o => o.RaceId, "Race:", new { @class = "label" })
            <br />@Html.EnumDropDownListFor(o => o.RaceId, "- Please select a race -", new { id = "raceIdDropDown", onchange = "calculateTotal()" })
            @Html.ValidationMessageFor(o => o.RaceId, "", new { @class = "error" })
        </p>
        <p>
            <span class="newline">
                @Html.LabelFor(o => o.StartGroup, "Start Group:", new { @class = "label" })
            </span>
            @Html.EnumDropDownListFor(o => o.StartGroup)
            @Html.ValidationMessageFor(o => o.StartGroup, "", new { @class = "error" })
        </p>
        <p>
            <span class="newline">
                @Html.LabelFor(o => o.TshirtSize, "T-shirt Size:", new { @class = "label" })
            </span>
            @Html.EnumDropDownListFor(o => o.TshirtSize)
            @Html.ValidationMessageFor(o => o.TshirtSize, "", new { @class = "error" })
        </p>
        <p>
            <input type="submit" value="Alter Order" />
        </p>
    }
    <p>
        @Html.ActionLink("Go Back", "Index", "Account")
    </p>

</div>