
@{
    ViewBag.Title = "ShowPastOrders";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="container">

    <h2>Show Last Order</h2>

    <p>@ViewBag.OrderNo</p>
    <p>@ViewBag.OrderDate</p>
    <p>@ViewBag.RaceId</p>
    <p>@ViewBag.StartGroup</p>
    <p>@ViewBag.Total</p>
    <p>@ViewBag.Country</p>

</div>


