@model RunningSite.Models.Result

@{
    ViewBag.Title = "Search";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <h2>Search Past Results</h2>

    @using (Ajax.BeginForm("Search", "Result", Ajax, new AjaxOptions
    {
        LoadingElementId = "wait",
        LoadingElementDuration = 1000,
        UpdateTargetId = "searchResults",
        InsertionMode = InsertionMode.Replace
    }))
    {
        <div class="addResultsRow">
            <div></div>
            <div class="form">
                <p>
                    @Html.LabelFor(r => r.RaceId, "Race Id:", new { @class = "label" })
                    <br />@Html.TextBoxFor(r => r.RaceId)
                    @Html.ValidationMessageFor(r => r.RaceId, "", new { @class = "error" })
                </p>
                <p>
                    @Html.LabelFor(r => r.BibNo, "Bib No:", new { @class = "label" })
                    <br />@Html.TextBoxFor(r => r.BibNo)
                    @Html.ValidationMessageFor(r => r.BibNo, "", new { @class = "error" })
                </p>
                <p>
                    @Html.LabelFor(r => r.FinishPlace, "Finish Place:", new { @class = "label" })
                    <br />@Html.TextBoxFor(r => r.FinishPlace)
                    @Html.ValidationMessageFor(r => r.FinishPlace, "", new { @class = "error" })
                </p>
                <p>
                    @Html.LabelFor(r => r.FinishTime, "Finish Time:", new { @class = "label" })
                    <br />@Html.TextBoxFor(r => r.FinishTime)
                    @Html.ValidationMessageFor(r => r.FinishTime, "", new { @class = "error" })
                </p>
                <p>
                    @Html.LabelFor(r => r.ChipTime, "Chip Time:", new { @class = "label" })
                    <br />@Html.TextBoxFor(r => r.ChipTime)
                    @Html.ValidationMessageFor(r => r.ChipTime, "", new { @class = "error" })
                </p>
                <p>
                    @Html.LabelFor(r => r.Email, "Email:", new { @class = "label" })
                    <br />@Html.TextBoxFor(r => r.Email)
                    @Html.ValidationMessageFor(r => r.Email, "", new { @class = "error" })
                </p>
                <p>
                    <button id="btnSearch" type="submit">Search</button>
                </p>
            </div>
            <div></div>
            <div></div>
            @ViewBag.Status
            <div>
                <div id="wait" style="display:none;"><img src="~/Content/Images/wait.gif" alt="wait" /></div>
                <div id="searchResults"></div>
            </div>
            <div></div>
        </div>
    }
</div>

