@model IEnumerable<RunningSite.Models.Contact>
@{
    ViewBag.Title = "ShowAllContactUs";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section logged{

    @if (Session["name"] == null || Session["name"].ToString() != "Admin" || Session["email"].ToString() != "webdev@outlook.com")
    {
        Response.Redirect(Url.Action("Login", "Account"));
    }
}



<div class="container">
    <h2>Contact Form Messages</h2>
    <table class="table">
        <tr>
            <th>Name</th>
            <th>Email</th>
            <th>Phone</th>
            <th>Message</th>
        </tr>

        @foreach (var contact in Model)
        {
            <tr>
                <td>@contact.Name</td>
                <td>@contact.Email</td>
                <td>@contact.Phone</td>
                <td>@contact.Message</td>
            </tr>
        }
    </table>
    <br />
    <p>@Html.ActionLink("Go Back", "Index", "Admin")</p>
</div>